extends ../base
block content   
    h4.edit__video-title Edit video: #{video.title}
    form(method="POST" class="video__edit-form")
        input(class="edit-info" name="title" type="text" value=`${video.title}` required)
        input(class="edit-info" name="description" type="text" value=`${video.description}` required)
        input(class="edit-info" name="hashtags" type="text" value=video.hashtags.join() required)
        input(class="edit-submit" type="submit" value="Save")
block scripts 
    script(src="/static/js/main.js") 
