extends ../base
include ../../mixins/video
block content 
    form(method="GET" class="video__search-form")
        input(class="search-keyword" type="text" placeholder=" Search by title" name="keyword")
        input(class="search-submit" type="submit" value="Search now")
    div 
        if videos
            ul.video__grid
                each video in videos 
                    li.video__item 
                        +videos(video)
block scripts 
    script(src="/static/js/main.js") 