extends ../base
include ../../mixins/video
block content 
    form(method="GET")
        input(type="text" placeholder=" Search by title" name="keyword")
        input(type="submit" value="Search now")
    div 
        if videos
            ul.video__grid
                each video in videos 
                    li.video__item 
                        +videos(video)
                else 
                    p sorry nothing found.