@import "./reset.scss";
@import "./variables";

body {
    background: $bg;
    color: $color;
}
a {color: $color;}
/***** Home ******/
#header ul {
    display: flex;
}


/***** Video comment ******/
.video__comment {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.video__comment span:nth-child(3) {
    cursor: pointer;
}