@import "./variables";

body {
    background: $red;
    color: $color;
}
.video__comment {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.video__comment span:nth-child(3) {
    cursor: pointer;
}