@import "./reset.scss";
@import "./variables";

body {
    background: $bg;
    color: $color;
}
a {
    color: $color;
    text-decoration: none;
}
main {
    width: 100%;
}
/***** Layout Section ******/
.flex-container {
    display: flex;
}
/***** Header ******/
#header {
    height: 80px;
}
#header > .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 12px;
}
#header .page-controller {
    display: flex;
}
#header .page-controller .logo{
    padding: 0 12px;
}
#header .page-controller .logo i {
    color: $youtube-red;
}
#header .search__link {
    max-width: 250px;
    width: 100%;
}
#header .search__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #817f80;
    border-radius: 30px;
    padding: 8px 12px;
}
.user__menu {
    position: relative;
    z-index: 9;
    cursor: pointer;
}
#header .user__menu .user__img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100px;
    margin-right: 10px;
    text-align: center;
}
#header .user__menu .user__img > a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 2px solid red;
}
#header .user__menu img {
    width: 100%; height: 100%;
}
.user__menu .user__popup {
    position: absolute;
    width: 300px;
    right: 0;
    border-radius: 10px;
    background: $sub-color;
}
.user__menu .user__popup.off {
    display: none;
}
.user__popup .popup-item:not(:last-child) {
    border-bottom: 1px solid $border;
}
.user__popup .popup__header__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 16px;
}
.user__popup .popup__header__wrapper .user__info .info-item:not(:last-child) {
    padding-bottom: 6px;
}
.user__popup .account-option .switch-account a {
    display: flex;
    justify-content: space-between;
} 
.popup-item .popup-item-list > .popup-item-wrapper {
    padding: 16px 16px;
}
.popup-wrapper .popup-item-list:hover {
    background: $border;
}
.popup-wrapper .popup-item-list .popup-item-icon {
    margin-right: 12px;
}
#header .login-form {
    border-radius: 90px;
    border: 1px solid $border;
    padding: 10px 12px;
}
#header > .header__top .login-form > i,
#header > .header__top .login-form span {
    color: #f2f2f2;
}

/***** Side bar ******/
.sidebar .menu-bar.close {
    display: none;
}
.sidebar .spread-bar.close {
    display: none;
}
.sidebar .menu-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu-links .nav-link {
    padding: 12px 8px;
}
.nav-link i, .nav-link .nav-text {
    padding: 4px 6px;
}
.spread-menu-link .nav-text {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar .spread-bar {
    position: relative;
    z-index: 9;
    width: 250px;
    background: $bg;
}
.sidebar .spread-bar a {
    display: flex;
    justify-content: flex-start;
}
.sidebar .spread-bar .spread-menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    padding: 0 12px;
    text-align: left;
}
.sidebar .spread-bar .spread-menu-link i {
    width: 30px;
    text-align: center;
    margin-right: 10px;
}
/***** Home Video ******/
.video__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}
.video__grid > .video__item .thumb__container {
    height: 186px;
}
.video__grid > .video__item .thumb__img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

/***** Login ******/
.login__login-form-wrapper {
    width: 500px; height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.login__login-form {
    height: 40%;
    text-align: center;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 24px;
    margin: 12px;
}
.login__login-form .login-form > form {
    display: flex;
    flex-direction: column;
}
.login__login-form .login-form .login-info {
    background: $sub-color;
    border-radius: $form-radius;
    border: none;
    padding: $form-padding;
    margin: 10px 0;
}
.login__login-form .login-form .login-submit {
    background: $color;
    color: $bg;
    border-radius: $form-radius;
    border: none;
    padding: 12px 12px;
    font-size: 1.25em;
}
.login__addition-option {
    margin-top: 12px;
}
/***** User profile ******/
.user__avatar {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.user__avatar > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.user-videos {
    padding-top: 20px;
}
/***** Edit profile ******/
.user__edit-profile-form  {
    width: 500px;
    margin: 0 auto;
    padding: 50px 0;
}
.user__change-avatar {
    overflow: hidden;
    border-radius: 50%;
}
.user__edit-form {
    display: flex;
    flex-direction: column;
}
.user__edit-form .edit-info {
    padding: $form-padding;
    margin: 4px 0;
    background: $sub-color;
    color: $color;
    border-radius: $form-radius;
    border: none;
}
.user__edit-form .edit-submit {
    cursor: pointer;
    background: $color;
    color: $bg;
    padding: $form-padding;
    margin: 4px 0;
    border-radius: $form-radius;
    border: none;
}
/***** Change password ******/
.change-password__form {
    width: 500px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.change-password__form .password-info {
    padding: $form-padding;
    margin: 4px 0;
    background: $sub-color;
    color: $color;
    border-radius: $form-radius;
    border: none;
}
.change-password__form .change-password__submit {
    cursor: pointer;
    background: $color;
    color: $bg;
    padding: $form-padding;
    margin: 4px 0;
    border-radius: $form-radius;
    border: none;
}
/***** Join ******/
.user__join-form {
    width: 500px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.user__join-form .join-info {
    padding: $form-padding;
    margin: 4px 0;
    background: $sub-color;
    color: $color;
    border-radius: $form-radius;
    border: none;
}
.user__join-form .join-submit {
    cursor: pointer;
    background: $color;
    color: $bg;
    padding: $form-padding;
    margin: 4px 0;
    border-radius: $form-radius;
    border: none;
}
/***** Edit video ******/
.edit__video-title {
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    font-weight: 700;
}
.video__edit-form {
    width: 500px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.video__edit-form .edit-info {
    padding: $form-padding;
    margin: 4px 0;
    background: $sub-color;
    color: $color;
    border-radius: $form-radius;
    border: none;
}
.video__edit-form .edit-submit {
    cursor: pointer;
    background: $color;
    color: $bg;
    padding: $form-padding;
    margin: 4px 0;
    border-radius: $form-radius;
    border: none;
}
/***** Search video ******/
.video__search-form {
    width: 500px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}
.video__search-form > .search-keyword {
    padding: $form-padding;
    margin: 4px 0;
    background: $sub-color;
    color: $color;
    border-radius: $form-radius;
    border: none;
}
.video__search-form .search-submit {
    cursor: pointer;
    background: $color;
    color: $bg;
    padding: $form-padding;
    margin: 4px 0;
    border-radius: $form-radius;
    border: none;
}
/***** Video comment ******/
.video__comment {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.video__comment span:nth-child(3) {
    cursor: pointer;
}
/***** Footer ******/
