extends base
include ../mixins/video

block content
    ul.video__grid
        each video in videos
            li.video__item 
                +videos(video)
        else 
            p Video not found.
block scripts 
    script(src="/static/js/main.js") 