extends base
include ../mixins/video

block content
    include ../partials/sidebar
    ul.video__grid
        each video in videos
            li.video__item 
                +videos(video)
        else 
            p sorry nothing found.