extends base
block content
    div 
        p=video.description
        small=video.createdAt
    ul
        li 
            a(href=video.id + "/edit") edit video &rarr;
    
        li
            a(href=video.id + "/delete") delete video &rarr;