header#header
    nav.header__top
        div.page-controller
            div(style={cursor:"pointer"}).menu-bar__icon
                i(class="fas fa-bars fa-lg")
            div.logo
                a(href="/") 
                    i(class="fab fa-youtube fa-lg")
        a.search__link(href="/search")
            div.search__form
                p Search
                i(class="fas fa-search")
        if loggedIn
            div.user__menu
                div.user__img
                    if !loggedInUser.avatarUrl
                        span 😀
                    else 
                        if loggedInUser.avatarUrl
                            if loggedInUser.avatarUrl.includes("github")
                                img(src=loggedInUser.avatarUrl, alt="avatar img")
                            else 
                                img(src="/" + loggedInUser.avatarUrl, alt="avatar img")
                div(class="user__popup user__popup-container off")
                    div(class="popup__header popup-item") 
                        div(class="popup__header__wrapper popup-wrapper")
                            div.user__img
                                if !loggedInUser.avatarUrl
                                    span 😀
                                else
                                    if loggedInUser.avatarUrl
                                        if loggedInUser.avatarUrl.includes("github")
                                            a(href="user/edit") 
                                                img(src=loggedInUser.avatarUrl, alt="avatar img")
                                        else 
                                            a(href="user/edit") 
                                                img(src="/" + loggedInUser.avatarUrl, alt="avatar img")
                            div.user__info
                                p(class="info-item user__username")=loggedInUser.username
                                p(class="info-item user__email")=loggedInUser.email
                    div(class="account-option popup-item")
                        div(class="account-option__wrapper popup-wrapper")
                            div(class="account-info popup-item-list")
                                div.popup-item-wrapper
                                    a(href="#") 
                                        span 
                                            i(class="fab fa-google popup-item-icon fa-lg")
                                        span Google 계정
                            div(class="switch-account popup-item-list")
                                div.popup-item-wrapper
                                    a(href="#") 
                                        div.left 
                                            span
                                                i(class="fas fa-file-invoice popup-item-icon fa-lg")
                                            span 계정 전환
                                        i(class="fas fa-chevron-right")
                            div(class="logout popup-item-list")
                                div.popup-item-wrapper
                                    a(href="/user/logout") 
                                        span 
                                            i(class="fas fa-sign-out-alt popup-item-icon fa-lg")
                                        span 로그아웃
        else
            a(href="/login")
                div.login-form 
                    i(class="far fa-user fa-lg", style="margin-right: 6px;")
                    span Sign in