nav.sidebar 
    div.mene-bar
        div.menu
            ul.menu-links 
                li.nav-link 
                    a(href="#")
                        i(class="fas fa-home fa-lg")
                        p(class="text nav-text") 홈
                li.nav-link 
                    a(href="#")
                        i(class="fas fa-bolt fa-lg")
                        p(class="text nav-text") Shorts 
                li.nav-link 
                    a(href="#")
                        i(class="fas fa-boxes fa-lg")
                        p(class="text nav-text") 구독 
                li.nav-link 
                    a(href="#")
                        i(class="fas fa-play fa-lg")
                        p(class="text nav-text") 나
