extends ../base
block content 
    if errorMessage 
        span=errorMessage 

    form(method="POST" class="change-password__form")
        input(class="oldpassword password-info" name="oldPassword" type="password" placeholder="old password" required) 
        input(class="oldpassword password-info" name="newPassword" type="password" placeholder="New password" required)
        input(class="newpassword password-info" name="newPasswordConfirm" type="password" placeholder="Confirm new password" required)
        input(class="change-password__submit" type="submit" value="Change password")
block scripts 
    script(src="/static/js/main.js") 